<header>
  <mat-toolbar>
    <!-- Mian toolbar (top) -->
    <mat-toolbar-row id="top-row">

      <!-- Menu area -->
      <div  id="menu">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu>
          <button mat-menu-item>Iten 1</button>
          <button mat-menu-item>Iten 2</button>
          <button mat-menu-item>Iten 3 </button>
        </mat-menu>
      </div>

      <!-- Calendar area -->
      <div id="calendar">
        <button>
          <mat-icon>arrow_back_ios</mat-icon>
        </button>

        <article>
          <span>{{ "Maio " }}</span>
          <span>{{ 2024 }}</span>
        </article>

        <button id="right">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>

      <!-- Sharing area -->
      <div id="sharing">
        <button mat-button>
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>

    <!-- Days toolbar (bottom) -->
    <mat-toolbar-row>
      <button mat-button>
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <article>
        <section *ngFor="let day of [1, 2, 3, 4, 5]">
          <button mat-button>{{ day }}</button>
        </section>
      </article>

      <button mat-button>
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
