<header>
  <mat-toolbar>
    <!-- Mian toolbar (top) -->
    <mat-toolbar-row id="top-row">

      <!-- Menu area -->
      <nav id="menu">
        <button mat-button routerLink="facil">Fácil</button>
        <button mat-button routerLink="dificil">Difícil</button>
      </nav>

      <!-- Calendar area -->
      <div id="calendar">
        <button>
          <mat-icon>arrow_back_ios</mat-icon>
        </button>

        <article>
          <span>{{ "Maio " }}</span>
          <span>{{ 2024 }}</span>
        </article>

        <button class="right">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>

      <div id="help">
        <button mat-button (click)="openHelp()">
          <mat-icon>help</mat-icon>
        </button>
      </div>

      <!-- Sharing area -->
      <div id="sharing">
        <button mat-button>
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>

    <!-- Days toolbar (bottom) -->
    <mat-toolbar-row id="botton-row">
      <button>
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <article>
        <button mat-button *ngFor="let day of [1, 2, 3, 4, 5], let i = index" [ngClass]="i == 2 ? 'midle' : ''">
          {{ day }}
        </button>
      </article>

      <button class="right">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
