<main>
  <router-outlet></router-outlet>

  <mat-divider></mat-divider>

  <!-- Game informations: Number of bombs and time -->
  <div id="game-info">

    <!-- Number of bombs -->
    <article>
      <div class="test"></div>
      <div class="test"></div>
    </article>

    <!-- Switch responsive -->
    <article>
      <div class="test"></div>
      <div class="test"></div>
    </article>

    <!-- Time -->
    <article>
      <div class="test"></div>
      <div class="test"></div>
    </article>
  </div>
</main>
