@import '../../styles.scss';

main {
    min-height: calc(100vh - 212px);
    padding: 30px 60px;

    mat-divider {
        width: 50%;
        margin: 15px auto;
    }

    #game-info {
        display: flex;
        justify-content: center;
        gap: 10px;

        article {
            display: flex;
            gap: 5px;

            .test {
                width: 70px;
                height: 50px;
                background-color: rgb(random($limit: 255), random($limit: 255), random($limit: 255));
            }
        }
    }
}
