<mat-dialog-content>
  <header>
    <h2>
      💣 Bem-vindo ao Campo Minado! 💣
    </h2>
    <p>O objetivo do jogo é descobrir onde estão todas minas.</p>
  </header>

  <main>
    <h3>1. Começando</h3>
    <p>Clique em qualquer campo para abri-lo. Se for uma mina, você perde. 💥</p>

    <div class="image-item">
      <article>
        <h3>2. Bombas ao Redor</h3>
        <p>O número em cada campo aberto revela quantas minas estão ao seu redor. Assim você pode tentar adivinhar quais
          campos
          são seguros para clicar. 🤔</p>
      </article>
      <img src="../../assets/icons/tutorial/Bombs-around.png" alt="Bombs around">
    </div>

    <div class="image-item">
      <article>
        <h3>3. Marcando Minas</h3>
        <p>Para marcar um campo que você acredita conter uma mina, clique com o botão direito do mouse. Isso colocará
          uma
          bandeira no campo, ajudando você a lembrar que ali pode haver uma mina. 🚩</p>
      </article>
      <img src="../../assets/icons/tutorial/Flagged.png" alt="Flagged">
    </div>

    <h3>4. Ganhar o Jogo</h3>
    <p>Você vence quando todos os campos que não contêm minas estiverem abertos! 🏅</p>

    <h3>Que a sorte esteja sempre a seu favor! </h3>
  </main>

  <div id="terms" *ngIf="!storage.hasReadTerms()">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Armazenamento</mat-panel-title>
      </mat-expansion-panel-header>
      <h3>Como Funciona o Salvamento dos Jogos?</h3>
      <p>Nosso jogo salva automaticamente seu progresso usando a memória do navegador. Isso significa que você pode
        fechar e reabrir o navegador sem perder seu progresso.</p>
      <p><strong>Importante:</strong> Se você limpar os dados do navegador, seu progresso no jogo também será apagado.
      </p>
    </mat-expansion-panel>
  </div>

  <mat-dialog-actions *ngIf="!storage.hasReadTerms()">
    <mat-checkbox id="checkbox" (change)="checked = $event.checked">Armazenamento</mat-checkbox>
    <div id="button-container">
      <button mat-button (click)="acceptTerms()">OK</button>
    </div>
  </mat-dialog-actions>
</mat-dialog-content>
