<mat-dialog-content>
  <header>
    <h2>
      Bem-vindo ao Campo Minado! 💣
    </h2>
  </header>

  <main>
    <p>O objetivo do jogo é descobrir onde estão todas minas.</p>

    <h3>1. Começando</h3>
    <p>Clique em qualquer campo para abri-lo. Se for uma mina, o jogo termina. 💥</p>

    <h3>2. Bombas ao Redor</h3>
    <p>O número em cada campo aberto revela quantas minas estão ao seu redor. Assim você pode tentar adivinhar quais
      campos
      são seguros para clicar. 🤔</p>
    <img src="" alt="">

    <h3>3. Marcando Minas</h3>
    <p>Para marcar um campo que você acredita conter uma mina, clique com o botão direito do mouse. Isso colocará uma
      bandeira no campo, ajudando você a lembrar que ali pode haver uma mina. 🚩</p>
    <img src="" alt="">

    <h3>4. Ganhar o Jogo</h3>
    <p>Você vence quando todos os campos que não contêm minas estiverem abertos! 🏅</p>

    <h3>Que a sorte esteja sempre a seu favor! </h3>
  </main>

  <mat-dialog-actions>
    
  </mat-dialog-actions>
</mat-dialog-content>
