@import '../../../styles.scss';

#game-container {
  width: fit-content;
  margin: auto;

  #game-lines {
    height: fit-content;

    #game-columns {
      width: fit-content;

      .close-button-container {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        padding-bottom: $gm-elevation-padding;
        border-radius: $gm-off-radios;
        background-color: $white-two;
        transition: all ease 0.3s;

        button {
            width: 100%;
            height: 100%;
            border-radius: $gm-radios;
            border: none;
            background-color: $white-one;
            transition: all ease 0.3s;

        }

        &:hover {
            background-color: $light-green-two;

            button {
                background-color: $light-green-one;
            }
        }

        &:active {
            padding-bottom: 2px;
            transform: scaleY(0.93) translateY(1px);
            background-color: $light-green-four;

            button {
                background-color: $light-green-three;
            }
        }
      }
    }
  }
}
