@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

// Font-family
$font-family: "Rajdhani", sans-serif;
$font-large: 32px;
$font-medium: 24px;
$font-small: 16px;

// Colors
$green-one: #243d1e;
$green-two:#121e0f;

$light-green-one: #ddffcd;
$light-green-two: #b9ddaa;
$light-green-three: #9ade87;
$light-green-four: #82c570;

$red-one: #e4472b;
$red-two: #bb3521;

$white-one: #eeeeee;
$white-two: #b7b7b7;
$white-three: #8c8c8c;

$black-full: #000000;
$black-one: #101010;
$black-two: #181818;

// Toolbar variables
$tb-elevation-padding: 10px;
$tb-off-radios-botton: 0 0 8px 8px;
$tb-radios-botton: 0 0 10px 10px;
$tb-off-radios-top: 8px 8px 0 0;
$tb-radios-top: 10px 10px 0 0;
$tb-button-height: 38px;
$tb-button-font-size: 18px;
$tb-icon-height: 28px;

// Dialog variables
$di-elevation-padding: 4px;
$di-active-elevarion-padding: 2px;
$di-off-radios: 6px;
$di-radios: 6px;
$di-shadow-box: #82c570bf;

// Game variables
$gm-elevation-padding: 4px;
$gm-open-elevation-padding: 2px;
$gm-off-radios: 6px;
$gm-radios: 6px;

// Root variables
:root {
  --one-bomb: #0000FF;
  --two-bombs: #006400;
  --three-bombs: #8B0000;
  --four-bombs: #8B008B;
  --five-bombs: #FF4500;
  --six-bombs: #2E8B57;
  --seven-bombs: #483D8B;
  --eight-bombs: #A52A2A;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $green-one;
}
